header{
    border: 4px solid blue;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-list li{
    background-color: lightblue;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 10px;
    flex-basis: 0
    ;
}