@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;

}





.navbar
{
    flex: 1;
    background-color: #5995DA;
    border: 1px solid blue;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar div{
    display: flex;
    width: 20%;
    justify-content: center;
}


.mid{
    display: flex;
    background-color: lightblue;
    height: 300px;
    justify-content: center;
    align-items: center;
    
}

.mid div{
    display: flex;
    width: 20%;
    justify-content: center;
}

.subscribe{
    font-size: 5rem;
    width: 80%;
}

