.flex-container{
    display: flex;
}

.flex-container .item{
    background-color: lightgreen;
    border: 4px solid green;
    flex: 1 1 250px;
    height: 100px;
}


.flex-container div:nth-child(2)
{
    flex-shrink: 2;
}